

/*Background*/
body{
  background-color:#241d0f
}



/*Styling */
.Page-Title {
  font-family: 'VT323', monospace;
  font-size:20px;
  color: #DDB649;
  text-align: center;
}

.Full_list{
  text-align: center;
  list-style-type: none;
  padding-left: 4rem;
}

.List_Items{
  display: inline-block;
  margin-right: 70px;
}

.button-common{
  background-color: #352B17;
  font-family: 'VT323', monospace;
  font-size: 40px;
  border-color: #BF9A3D;
  color: #DDB649;
  border-style:solid;
  padding: 20px 70px;
  border-radius: 1px;
  border-width: 3px;
  cursor: pointer;
}

.button-common:hover{
  background-color:#DDB649;
  color: #352B17;
}

.About-Names {
  color:#DDB649;
  font-family: 'VT323', monospace;
  font-size: 40px;
  list-style-type: none;
  text-align: center;
  padding-top: 300px;
}

.About-Names li {
  display: inline;
  margin: 160px;
}

.Vertical-containers #Vertical-border01{
  width: 5px;
  height: 890px;
  background-color: #DDB649;
  position:fixed;
  bottom: 1rem;
  left: 1rem;
}
.Vertical-containers #Vertical-border02{
  width: 5px;
  height: 890px;
  background-color: #DDB649;
  position:fixed;
  bottom: 1rem;
  right: 1rem;
}

.Horizontal-containers #Bottom-Border{
  width: 1887px;
  height: 5px;
  background-color: #DDB649;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.Horizontal-containers #Top-Border01{
  width: 350px;
  height: 5px;
  background-color: #DDB649;
  position: fixed;
  top: 3.5rem;
  left: 1rem;
}

.Horizontal-containers #Top-Border02{
  width: 350px;
  height: 5px;
  background-color: #DDB649;
  position: fixed;
  top: 3.5rem;
  right: 1rem;
}