

/*Background*/
body{
  background-color:#241d0f
}



/*Styling */
.Page-Title {
  font-family: 'VT323', monospace;
  font-size:20px;
  color: #DDB649;
  text-align: center;
}

.Full_list{
  text-align: center;
  list-style-type: none;
  padding-left: 5rem;
  opacity: 1;
  animation: Loadingcontent none linear forwards;
}

.List_Items{
  display: inline-block;
  margin-right: 70px;
  opacity: 1;
  animation: Loadingcontent none linear forwards;
}

.button-common{
  background-color: #352B17;
  font-family: 'VT323', monospace;
  font-size: 40px;
  border-color: #BF9A3D;
  color: #DDB649;
  border-style:solid;
  padding: 20px 70px;
  border-radius: 1px;
  border-width: 3px;
  cursor: pointer;
  opacity: 1;
  animation: Loadingcontent none linear forwards;
}

.button-common:hover{
  background-color:#DDB649;
  color: #352B17;
  opacity: 1;
  animation: Loadingcontent none linear forwards;
}

.About-Names {
  color:#DDB649;
  font-family: 'VT323', monospace;
  font-size: 40px;
  list-style-type: none;
  text-align: center;
  padding-top: 300px;
  opacity: 1;
  animation: Loadingcontent none linear forwards;
}

.About-Names li {
  display: inline;
  margin: 160px;
  opacity: 1;
  animation: Loadingcontent none linear forwards;
}

@keyframes Loadingcontent{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}


.Vertical-containers #Vertical-border01{
  width: 5px;
  height: 890px;
  background-color: #DDB649;
  position:fixed;
  bottom: 1rem;
  left: 1rem;
  transform:translate(0px, 0px);
  animation: LoadingSizeAndMove none linear forwards;
}

.Vertical-containers #Vertical-border02{
  width: 5px;
  height: 890px;
  background-color: #DDB649;
  position:fixed;
  bottom: 1rem;
  right: 1rem;
  transform:translate(0px, 0px);
  animation: LoadingSizeAndMove none linear forwards;
}

@keyframes LoadingSizeAndMove {
  0%{
    width: 5px;
    height: 890px;

  }
  100%{
    transform: scaleY(0.3);
    transform-origin: center;
  }
}

.Horizontal-containers #Top-Border01{
  width: 350px;
  height: 5px;
  background-color: #DDB649;
  position: fixed;
  top: 3.5rem;
  left: 1rem;
  transform:translate(0px, 0px);
  animation: LoadingTopborderMove none linear forwards;
}

.Horizontal-containers #Top-Border02{
  width: 350px;
  height: 5px;
  background-color: #DDB649;
  position: fixed;
  top: 3.5rem;
  right: 1rem;
  transform:translate(0px, 0px);
  animation: LoadingTopborderMove none linear forwards;
}

@keyframes LoadingTopborderMove {
  0%{
    transform: translate(0px,0px);
  }
  100%{
    transform: translate(0px,310px);
  }
}

.Horizontal-containers #Bottom-Border{
  width: 1887px;
  height: 5px;
  background-color: #DDB649;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  transform:translate(0px, 0px);
  animation: LoadingBottomborderMove none linear forwards;
}

@keyframes LoadingBottomborderMove {
  0%{
    transform: translate(0px,0px);
  }
  100%{
    transform: translate(0px,-310px);
  }
}

.LoadingAnimations{
  animation: LoadingBottomborderMove 1s;
}