

/*Background*/
body{
  background-color:#352B17
}



/*Styling */
.Page-Title {
  font-family: 'VT323', monospace;
  font-size:20px;
  color: #DDB649;
  text-align: center;
}

a:any-link{
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: #DDB649;
}

a:hover {
  text-decoration: none;
  color: #ffffff;
}


/*About Page*/
.About-Title{
  font-family: 'VT323', monospace;
  font-size:20px;
  color: #DDB649;
  text-align: center;
}

.About_button{
background-color: #352B17;
padding: 20px 70px;
text-align:center;
text-decoration: none;
font-family: 'VT323', monospace;
font-size: 40px;
border-color: #DDB649;
}

.About_button:hover{
  background-color: #DDB649;
  transition: 0.7;
  text-color
}


/*Index Page*/
.Upload-container{
  font-family: 'VT323', monospace;
  font-size:11px;
  color: #DDB649;
  text-align: center;
}

.Full_list{
  font-family: 'VT323', monospace;
  font-size:50px;
  color: #DDB649;
  text-align: center;
  list-style-type: none;
}

.List_Items{
  display: inline-block;
  margin-right: 70px;
}

/*Score Page*/
.Score-Title{
  font-family: 'VT323', monospace;
  font: size 50px;
  color: #DDB649;
  text-align: center;
}

/*Graph Page*/
.Graph-Title{
  font-family: 'VT323', monospace;
  font: size 50px;
  color: #DDB649;
  text-align: center;
}